{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "jest": true,
        "commonjs": true
    },
    "rules": {
        "linebreak-style": 0
    }
}
  